#/etc/systemd/system/app.service
[Unit]
Description=Gunicorn instance to serve myproject
After=network.target

[Service]
User=zian
Group=www-data
WorkingDirectory=/home/zian/app
Environment="PATH=/home/zian/app/app-env/bin"
ExecStart=/home/zian/app/app-env/bin/gunicorn --workers 3 --bind 0.0.0.0:5000 wsgi:app
Restart=always

[Install]
WantedBy=multi-user.target


