{% extends 'layout.html.j2' %}
{% block content %}

    <h1>Learning</h1>

    <h3>How to connect to our IRC</h3>
    <p>Do not connect to irc.anonymousoperators.com, connect to anonymousoperators.com</p>
    <p>https://hexchat.readthedocs.io/en/latest/getting_started.html</p>
    <br><br>
    <h3>How to connect to our IRC via tor</h3>
    <p>https://medium.com/@defcon201/tutorial-connecting-to-freenode-via-tor-like-a-boss-f8d74199b634</p>
    <br><br>
    <h3>How to connect to our Matrix</h3>
    <p>https://matrix.org/docs/projects/try-matrix-now/</p>
    <br><br>

    <p>
      Our Website doesn't provide learning resources directly, our IRC does.
      <br><br>
      But we do list some urls where aspiring anons can learn more.
      <br><br>
      https://freecodecamp.org - Web Development
      <br><br>
      https://privacy.io - Privacy tools
      <br><br>
      https://en.wikiversity.org/wiki/Wikiversity:Main_Page - College Courses
    </p>

{% endblock content %}
