{% extends 'layout.html.j2' %}
{% block content %}

<h1>Learning</h1>

<p>
Our IRC provides a lot of freedoms. However, we do have some rules
you are agree to follow by remaining on our Server.
<br><br>
1) No malware or DDOSing the IRC.
   We are hacker friendly, you can join #help and ask for permission to pentest.
<br>
If you succeed in pentesting, We'll give you credit if you tell us how you did it.

<br><br>
2) All main server channels are 100% Free Speech with two exceptions,
   <br><br>
   NO Child Porn Content
   <br><br>
   NO INFRINGEMENT: Example - Call to acts of violence and terrorism
   <br><br>
   #AnonOps is moderated and the topic is about Anonymous philosophy and Ops only.
   <br><br>

   #legion is for any topic and discussion. 100% Free Speech
   <br>
   Keep in mind Freedom of Speech doesn't give you the right to infringe on other's speech.
   <br>
   See rule #4
   <br><br>

   Users are allowed to set their own rules for their own channels,
   <br>
   Users who become channel owners set their own access list. 
   <br>
   use /msg nickserv register and /msg chanserv register
   <br><br>

3) No terrorist channels. Terrorism being defined as violent group.
   <br><br>

4) Infringing on Free Speech in main channels is forbidden:
   <br><br>
   Example: No Mass Spamming, it prevents other people from being heard
   <br><br>

5) If you want to join a bot, get permission from #help.
  <br><br>

  Keep in mind, users can enforce their own rules in their own channels,
  <br>
  as long as it doesn't break our server rules (example: NO CP)
</p>
<br><br><br><br>

{% endblock content %}
