{% extends 'layout.html.j2' %}

{% block content %}

    <div class="definition">

    <p> Anonymous is a collective idea about freedom, you can't have one Anon speak for all of Anonymous. There is no Anonymous Manifesto that represents all of Anonymous</p> 
    <br><br>
      
      <h1>Network Manifesto</h1>
      <p>Truly ideas are "things", and <strong>powerful</strong> things when they are
      combined with a <em>definitness of purpose, persistence, and a
      <strong>burning</strong> desire</em> for their translations into reality.
      <br><br>
      "Anonymous" is such an idea that has been translated into <strong><em>reality</em></strong>. We are the manifestation.
      <br><br>
      "Anonymous" is defined as "The collective idea of <strong>living</strong> the philosophy that freedoms
      are inalienable <em>rights</em>. Anything that opposes freedom is <em>oppressive</em>.
      Anonymous seeks truth, abhors lies, and teaches truth."
      <br><br>
      "A mind stretched by a new idea, can never return back to it's smaller state."
      <br><br>
      "Anonymous" has been incorrectly labeled as a 'hacktivist group', 'terrorist organization' and many more
      insulting and false labels that do not coincide with reality. Some of us find this.... disturbing. This misinformation
      is intentional, and has the purpose of turning people away from the idea. There are people who don't
      want the idea to affect the thoughts of others. By creating lies that make Anonymous appear to be "the bad guy"
      they hope to hinder, if not completely stop, the spread of truth that is Anonymous. They're kidding themselves.
      The spreading of this idea is <em>inevitable</em>.
      <br><br>
      We've written this manifesto due to organized misinformation by the weapons of mass distraction and
      the ignorant. We've also ensure the propogation of this idea into the minds of the next generation,
      so that their thoughts may be free and not imprisoned.
      <br><br>
      Some will ask, "How can I become Anonymous? How do I join?"<br>
      My fellow anon, by desiring to support freedom and truth, you already <em>are</em> Anonymous!<br>
      May you live free and prosper!
      </p>
    </div>
    <br><br>


{% endblock content %}
